@media (max-width: 500px) {
	#right_button_container{
		/*float: center;*/
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 100%;
	}
}
@media (min-width: 500px) {
	#right_button_container{
		float: right;
		align-items: center;
		display: flex;
	}
}
@media all and (orientation:portrait) {
	.image_slide > img{
		height: 100%;
	}
}

@media all and (orientation:landscape) {
	.image_slide > img{
		width: 100%;
	}
}

#splashbar{
	/*position: absolute;*/
	/*right: 0;*/
	/*left: 0;*/

	background: #009688;
	/*width: 100%;*/
	overflow: hidden;
	padding: 1em;
}

.splashbar_button{
	cursor: pointer;
	padding: .2em;
	color: white;
	font-size: 2.0em;
	margin-left: .1em;
	margin-right: .1em;
	overflow: hidden;

	-webkit-transition: background .2s;
	transition: background .2s;
}

.splashbar_button:hover{
	background: rgba(0, 0, 0, .2);
	border-radius: 0.1em;
}

#logo_container{
	float: left;
	align-items: center;
	display: flex;
}

#logo{
	height: 100%;
}

#logo_text{
	float: left;
	color: #fff;
	font-size: 1.2em;
}

#logo_icon_container{
	float: left;
	height: 1em;
	/*height: 25%;*/
}

#sign_up_button{
	background: rgba(0, 0, 0, .1);
}

#sign_up_button:hover{
	background: rgba(0, 0, 0, .2);
}

.image_slide{
	
}

.image_slide > img{
	position: fixed;
	z-index: -1;
	/*width: 100%;*/
	-webkit-filter: blur(3px);
	filter: blur(3px);
}

#content_container{
	overflow: hidden;
	display: flex;
	justify-content: center;
}

#message{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin: 2em;
	padding: 1em;
	border-radius: 0.2em;
	font-size: 2em;

	background: rgba(0, 0, 0, .5);
	/*background: rgba(128, 128, 128, .7);*/
	color: white;
}

#steam_logo{
	width: 2em;
}

#footer{
	/*position: absolute;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	background: #fff;
	box-shadow: inset 0 4px 9px -6px;
	/*height: 5em;*/
}

.filler{
	text-align: center;
	font-size: 5em;
}

/*#wrapper{*/
	/*height: 100%;*/
/*}*/
